# Executables
*.exe

# Object files
*.o
*.obj

# Static libraries
*.a
*.lib

# Dynamic libraries
*.dll
*.so
*.dylib

# Build directories
build/
bin/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# CMake
CMakeFiles/
CMakeCache.txt

# Logs
*.log

# Temporary files
*.tmp